## Hypothesis Testing.

### Question 1:

A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

Data is as below:

In [1]:
import pandas as pd
cutlet_data=pd.read_csv('Cutlets.csv')
cutlet_data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

**Answer:**

The hypoothesis of interest here is<br>
H0: There is no significant difference in diameters of cutlets between two units i.e., Ho: μ1 = μ2 <br>
H1: There is significant difference in diameters of cutlets between two units i.e., H1: μ1 ≠ μ2

Level of significance = 5%= 0.05

Here we use paired t test:

In [2]:
from scipy import stats
unit_a=cutlet_data['Unit A']
unit_b=cutlet_data['Unit B']
statistic, p_value=stats.ttest_ind(unit_a,unit_b)
print('The test statistic:{} \np value:{}'.format(statistic, p_value))

The test statistic:0.7228688704678063
p value:0.4722394724599501

Since, p value is greater than 0.05, we fail to reject null hypothesis. Therefore, we conclude that there is no significant difference in diameters of cutlets between two units.

### =======================================================================================

### Question 2:

A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

The data is given below:

In [3]:
import pandas as pd
lab_data=pd.read_csv('LabTAT.csv')
lab_data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

**Answer:**

H0: There is no significance difference in the average TAT of reports between the 4 laboratories.<br>
H1: There is significance difference in the average TAT of reports atleast between the 2 laboratories

The level of significance is 5%= 0.05

Here we use one-way ANOVA:

The test statistic is:

In [4]:
from scipy import stats
lab_1=lab_data.iloc[:,0]
lab_2=lab_data.iloc[:,1]
lab_3=lab_data.iloc[:,2]
lab_4=lab_data.iloc[:,3]
statistic, p_value=stats.f_oneway(lab_1,lab_2,lab_3,lab_4)
print('The test statistic is:{} \np_value is:{}'.format(statistic, p_value))

The test statistic is:118.70421654401437
p_value is:2.1156708949992414e-57

Since p value is less than 0.05, we reject null hypothesis and therefore we conclude that there is significance difference in the average TAT of reports atleast between the 2 laboratories.

### =======================================================================================

### Question 3:

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

The data is given below:

In [5]:
import pandas as pd
ratio_data=pd.read_csv('BuyerRatio.csv')
ratio_data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

**Answer:**

The hypothesis of interest is:<br>
H0: There is no assosiation between genders and regions.<br>
H1: There is some assosiation between genders and regions.

Level of significance= 5%= 0.05

Here we use test for goodness of fit.

The test statistic is:

In [6]:
from scipy import stats
ratio_data=ratio_data.iloc[:,1:6]
ratio_data

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [7]:
chi_square_test_val,pval,dof,expected_table=stats.chi2_contingency(observed = ratio_data)
print('The test statistic is: {} \nThe p value is {}'.format(chi_square_test_val,pval))

The test statistic is: 1.595945538661058
The p value is 0.6603094907091882

Since, p-value is greater than 0.05, we fail to reject null hypothesis and conclude that there is no assosiation between genders and regions.

### =======================================================================================

### Question 4

TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

The data is as below:

In [8]:
import pandas as pd
telecall_data=pd.read_csv('Costomer+OrderForm.csv')
telecall_data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

**Answer:**

The hypothesis of interest is<br>
H0: There is no assosiation between centre and defective<br>
H1: There is assosiation between centre and defective.

Level of significance=5%=0.05

The test statistic is:

In [9]:
print(telecall_data['Phillippines'].value_counts())
print('--------------------------------')
print(telecall_data['Indonesia'].value_counts())
print('--------------------------------')
print(telecall_data['Malta'].value_counts())
print('--------------------------------')
print(telecall_data['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
--------------------------------
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
--------------------------------
Error Free    269
Defective      31
Name: Malta, dtype: int64
--------------------------------
Error Free    280
Defective      20
Name: India, dtype: int64

In [10]:
data={'Phillippines':[279,29],'Indonesia':[267,33],'Malta':[269,31],'India':[280,20]}
data

{'Phillippines': [279, 29],
 'Indonesia': [267, 33],
 'Malta': [269, 31],
 'India': [280, 20]}

In [11]:
tele_call=pd.DataFrame(data)
tele_call.index=['Error_Free','Defective']
tele_call

            Phillippines  Indonesia  Malta  India
Error_Free           279        267    269    280
Defective             29         33     31     20

In [12]:
from scipy import stats
chi_square_test_val,pval,dof,expected_table=stats.chi2_contingency(observed = tele_call)
print('The test statistic is: {} \nThe p value is {}'.format(chi_square_test_val,pval))

The test statistic is: 3.8543617075802796
The p value is 0.27762595746783403

Since, p value is greater than 0.05, we fail to reject null hypoothesis and therefore we conclude that there is no assosiation between centre and defective.